body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2,h3{
    color:palevioletred;
    text-align: center;
}
.container{
    height: 455px;
    width: 455px;
    display: grid;
    background-color: palevioletred;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    border: 1px solid palevioletred;
}
.box{
    height: 150px;
    width: 150px;
    background-color: black;

}
button{
    color: red;
    font-size: 30px;
    font-family: "Caveat Brush", cursive;
  font-weight: 700;
  font-style: italic;
}

.gone-next{
    color: pink;
    font-size: 30px;
    font-family: "Caveat Brush", cursive;
    font-weight: 700;
    font-style: italic;
}

.disappear {
  animation: fadeOut 0.5s ease;
  color: gray;
  font-weight: bold;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}
